:global {
  .Header-content h1 small {
    color: #fcb36a !important;
  }
}

@import './_vars.scss';

.wrapper {
  max-width: 700px;
  margin: 40px auto 60px auto;
  min-height: 60vh;
  padding: 0 15px 20vh;
}

.wrapper * {
  box-sizing: border-box;
}

.choices {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.changed-mind {
  text-align: center;
  color: #eee;
  font-size: 14px;
  margin: 10px auto 5px;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 1.56px;
}

.summary {
  h2,
  h3,
  p,
  * {
    color: #f9f9f9 !important;
  }
}
