@import './_vars.scss';

// mobile: only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
// tablet: only screen and (max-device-width: 768px)

.wrapper {
    max-width: 700px;
    margin: 40px auto 60px auto;
}

.wrapper * {
    box-sizing: border-box;
}

.choices {
    overflow: hidden;
    width: 100%;
}

.changed-mind {
    text-align: center;
    color: #eee;
    font-size: 16px;
    margin: 10px auto 5px;
    font-family: $sans;
    text-transform: uppercase;
}
