@import './_vars.scss';

.choice {
    width: 50%;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: $sans;
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;

    .text {
        color: white;
        padding: 15px 10px;
        letter-spacing: 1.56px;
    }

    &.choose-public {
        .text {
            background: $publicButton;
        }
    }

    &.choose-private {
        .text {
            background: $privateButton;
        }
    }

    &.choose-reset {
        .text {
            background: #555;
        }
    }
}

@media only screen and (max-width: 667px) {
    .choice {
        .text {
            font-size: 12px;
        }
    }
}
