@import './_vars.scss';

.choice {
    width: 50%;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: $sans;
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;

    .text {
        color: white;
        padding: 20px;
    }

    .stick {
        background-repeat: no-repeat;
        background-size: 60px 30px;
        height: 30px;
    }

    &.choose-public {
        .text {
            background: $publicButton;
        }
    }

    &.choose-private {
        .text {
            background: $privateButton;
        }
    }

    &.choose-reset {
        .text {
            background: #555;
        }
    }
}

@media only screen and (max-width: 667px) {
    .choice {
        .text {
            font-size: 14px;
        }
    }
}
