// mobile: only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
// tablet: only screen and (max-device-width: 768px)

// Hide Vue until it loads
[v-cloak] {
    display: none;
}

#app * {
    box-sizing: border-box;
}

#app {
    max-width: 700px;
    margin: auto;
}

.choices {
    overflow: hidden;
    width: 100%;
}

.face {
    clear: both;

    img {
        display: block;
        width: 80px;
        margin: auto;
        border: none;
    }
}

.changed-mind {
    text-align: center;
    color: #666;
    font-size: 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.choice {
    width: 50%;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px;

    .text {
        color: white;
        padding: 20px;
    }

    .stick {
        background-repeat: no-repeat;
        background-size: 60px 30px;
        height: 30px;
    }

    &.choose-public {
        .text {
            background: #137c0d;
        }
        .stick {
            background-image: url(stick-public.png);
        }
    }

    &.choose-private {
        .text {
            background: #0d3c87;
        }
        .stick {
            background-image: url(stick-private.png);
            background-position: 100% 0;
        }
    }

    &.choose-reset {
        .text {
            background: #666;
        }
        .stick {
            background-image: url(stick-reset.png);
            background-position: 100% 0;
        }
    }
}

.arguments {
    font-family: Arial, sans-serif;
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .arguments {
        padding: 5px;
    }
}

.argument {
    margin-bottom: 60px;

    h3 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: normal;

        span {
            display: inline-block;
            padding: 10px;
            color: white;
        }
    }

    .content {
        padding: 20px;
        padding-bottom: 0;
    }

    p {
        margin: 0 0 20px 0;
        padding: 0;
    }
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .argument {
        .content {
            padding: 20px;
        }
    }
}

.privateSchool {
    margin-right: 10%;
    border-left: 3px solid #0d3c87;

    h3 {
        text-align: left;

        span {
            background-color: #0d3c87;
        }
    }
}

.publicSchool {
    margin-left: 10%;
    border-right: 3px solid #137c0d;

    h3 {
        text-align: right;

        span {
            background-color: #137c0d;
        }
    }
}

.open {
    overflow: hidden;

    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes open {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}

.summary {
    font-family: Arial, sans-serif;
}
